n8n-workflow-v2.json
{
    "name": "FB Scraper V2 - Scanner & Queue",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "fb-scraper",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "tableId": "posts",
                "columns": "external_id, author_name, content, post_url, matched_keywords, category, status, scraped_at",
                "options": {}
            },
            "name": "Supabase Insert",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "1",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json.body.matchedKeywords.length}}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Filter Empty",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Filter Empty",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Empty": {
            "main": [
                [
                    {
                        "node": "Supabase Insert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}